In [1]:
# Python Dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [3]:
# Import packages
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date,when
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [4]:
# Store filepath in a variable
constituents_path = Path("./Resources/constituents.csv")

In [5]:
# 1. Read CSV file 
constituents_df = spark.read.csv(str(constituents_path), sep=",", header=True)
# Show the dataframe
constituents_df.show()

+-------------+-----------+-----+----------+-------------+----------------+--------------------+---------------+-----------------+---------------+---------------+--------------------+------------------+----------------+----------------+--------------------+--------------------+------------------+------------------+--------------------+----------+----+-----------+--------------------+--------------------+------+--------------+--------------------+---------------------+----+-----------------------+--------------------+---------------------+-----------------+
|ConstituentID|       City|State|  Postcode|      Country|Constituent type|   Constituent codes|Lifetime giving|First gift amount|First gift type|First gift date|     First gift fund|Latest gift amount|Latest gift type|Latest gift date|    Latest gift fund|Greatest gift amount|Greatest gift type|Greatest gift date|  Greatest gift fund| Birthdate| Age|AgeInMonths|   PrimaryEmployment|           Education|Gender|Marital status|       Solicit codes|Student Organizations|Arts|Fraternal Organizations|     Men's Athletics|Scholarship Recipient|Women's Athletics|
+-------------+-----------+-----+----------+-------------+----------------+--------------------+---------------+-----------------+---------------+---------------+--------------------+------------------+----------------+----------------+--------------------+--------------------+------------------+------------------+--------------------+----------+----+-----------+--------------------+--------------------+------+--------------+--------------------+---------------------+----+-----------------------+--------------------+---------------------+-----------------+
|        60472|   Superior|   WI|54880-2556|United States|    Organization|Business (No star...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        43735| Hermantown|   MN|55811-1755|United States|    Organization|Other Organizatio...|             50|               50|  One-time gift|      8/29/2012|Women's Cross Cou...|                50|   One-time gift|       8/29/2012|Women's Cross Cou...|                  50|     One-time gift|         8/29/2012|Women's Cross Cou...|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        60145|       Esko|   MN|55733-9645|United States|    Organization|Other Organizatio...|             50|               50|  One-time gift|      4/29/2019| VNSC Emergency Fund|                50|   One-time gift|       4/29/2019| VNSC Emergency Fund|                  50|     One-time gift|         4/29/2019| VNSC Emergency Fund|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        21332|       NULL| NULL|      NULL|United States|    Organization|Business (No star...|             25|               25|  One-time gift|      9/10/1985|0-Richard I Bong ...|                25|   One-time gift|       9/10/1985|0-Richard I Bong ...|                  25|     One-time gift|         9/10/1985|0-Richard I Bong ...|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        50410|   Superior|   WI|54880-1504|United States|    Organization|Business (No star...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        21351|       NULL| NULL|      NULL|United States|    Organization|Business (No star...|            125|              125|  One-time gift|     10/25/1985|0-Touchdown Club ...|               125|   One-time gift|      10/25/1985|0-Touchdown Club ...|                 125|     One-time gift|        10/25/1985|0-Touchdown Club ...|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        36583|   Superior|   WI|54880-2934|United States|    Organization|Business (No star...|            450|               50|  One-time gift|      4/12/2005|Gigliotti, Tony, ...|               200|   One-time gift|      12/29/2023|Men's Cross Count...|                 200|     One-time gift|        12/29/2023|Men's Cross Count...|      NULL|NULL|       NULL|         Avis Phelps|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        21368|     Duluth|   MN|55802-2107|United States|    Organization|Business (No star...|            600|              100|  One-time gift|       1/1/1970|0-Unassigned For ...|               500|   One-time gift|      12/19/1985|        0-Drama Fund|                 500|     One-time gift|        12/19/1985|        0-Drama Fund|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|             No Mail|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        60471|   Superior|   WI|54880-1523|United States|    Organization|Business (No star...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        60473|     Duluth|   MN|55802-2012|United States|    Organization|Business (No star...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        21334|   Superior|   WI|54880-6653|United States|    Organization|Business (No star...|       1,825.00|              125|  One-time gift|      9/26/1985|0-Touchdown Club ...|               100|   One-time gift|       9/29/2008|   Hall of Fame Fund|                 250|     One-time gift|         1/18/2005|"National ""S"" C...|      NULL|NULL|       NULL|                NULL|                NULL|  NULL|          NULL|No Phone Solicita...|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        47343|   Superior|   WI|54880-2350|United States|    Organization|Business (No star...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL| Eli Corbin,Co-Owner|                NULL|  NULL|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        47689|       NULL| NULL|      NULL|United States|      Individual|Attended Didn't G...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL|                NULL|UW-Superior,Prima...|  Male|          NULL|                NULL|                 NULL|NULL|                   NULL|Basketball (No date)|                 NULL|             NULL|
|        44089|       Mesa|   AZ|85205-5437|United States|      Individual|Alumni (No start ...|            350|              300|         Pledge|     10/25/2022|Men's Basketball ...|               250|   One-time gift|       4/10/2024|Men's Basketball ...|                 300|            Pledge|        10/25/2022|Men's Basketball ...| 8/27/1990|  34|       NULL|Honeywell,Executi...|UW-Superior,Prima...|  Male|          NULL|                NULL|                 NULL|NULL|                   NULL|Basketball (No date)| Foundation Schola...|             NULL|
|        47690|       NULL| NULL|      NULL|United States|      Individual|Former Parent (9/...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL|                NULL|                NULL|  Male|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        39798|Saint Cloud|   MN|56303-2815|United States|      Individual|Former Parent (9/...|            240|              100|  One-time gift|      12/3/2008|Men's Basketball ...|                40|   One-time gift|      12/11/2013|Men's Basketball ...|                 100|     One-time gift|         12/3/2008|Men's Basketball ...|      NULL|NULL|       NULL|                NULL|                NULL|Female|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|         5616|Coon Valley|   WI|54623-8203|United States|      Individual|Alumni (No start ...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL|                NULL|UW-Superior,Prima...|Female|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        32080|   Superior|   WI|54880-3200|United States|      Individual|Friend (No start ...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|      NULL|NULL|       NULL|                NULL|                NULL|  Male|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|          312|     Hayden|   ID|     83835|United States|      Individual|Alumni (No start ...|              0|             NULL|           NULL|           NULL|                NULL|              NULL|            NULL|            NULL|                NULL|                NULL|              NULL|              NULL|                NULL|11/18/1913| 110|       NULL|                NULL|UW-Superior,Prima...|  Male|          NULL|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
|        39070|  Elk Mound|   WI|54739-9298|United States|      Individual|Alumni (No start ...|             52|               52|  One-time gift|     11/17/2010|       Superior Fund|                52|   One-time gift|      11/17/2010|       Superior Fund|                  52|     One-time gift|        11/17/2010|       Superior Fund| 8/17/1985|  39|       NULL|                NULL|UW-Superior,Prima...|Female|        Single|                NULL|                 NULL|NULL|                   NULL|                NULL|                 NULL|             NULL|
+-------------+-----------+-----+----------+-------------+----------------+--------------------+---------------+-----------------+---------------+---------------+--------------------+------------------+----------------+----------------+--------------------+--------------------+------------------+------------------+--------------------+----------+----+-----------+--------------------+--------------------+------+--------------+--------------------+---------------------+----+-----------------------+--------------------+---------------------+-----------------+
only showing top 20 rows

In [6]:
constituents_df.columns

['ConstituentID',
 'City',
 'State',
 'Postcode',
 'Country',
 'Constituent type',
 'Constituent codes',
 'Lifetime giving',
 'First gift amount',
 'First gift type',
 'First gift date',
 'First gift fund',
 'Latest gift amount',
 'Latest gift type',
 'Latest gift date',
 'Latest gift fund',
 'Greatest gift amount',
 'Greatest gift type',
 'Greatest gift date',
 'Greatest gift fund',
 'Birthdate',
 'Age',
 'AgeInMonths',
 'PrimaryEmployment',
 'Education',
 'Gender',
 'Marital status',
 'Solicit codes',
 'Student Organizations',
 'Arts',
 'Fraternal Organizations',
 "Men's Athletics",
 'Scholarship Recipient',
 "Women's Athletics"]

In [7]:
constituents_df.printSchema()

root
 |-- ConstituentID: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postcode: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Constituent type: string (nullable = true)
 |-- Constituent codes: string (nullable = true)
 |-- Lifetime giving: string (nullable = true)
 |-- First gift amount: string (nullable = true)
 |-- First gift type: string (nullable = true)
 |-- First gift date: string (nullable = true)
 |-- First gift fund: string (nullable = true)
 |-- Latest gift amount: string (nullable = true)
 |-- Latest gift type: string (nullable = true)
 |-- Latest gift date: string (nullable = true)
 |-- Latest gift fund: string (nullable = true)
 |-- Greatest gift amount: string (nullable = true)
 |-- Greatest gift type: string (nullable = true)
 |-- Greatest gift date: string (nullable = true)
 |-- Greatest gift fund: string (nullable = true)
 |-- Birthdate: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- AgeInMonths: string (nullable = true)
 |-- PrimaryEmployment: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital status: string (nullable = true)
 |-- Solicit codes: string (nullable = true)
 |-- Student Organizations: string (nullable = true)
 |-- Arts: string (nullable = true)
 |-- Fraternal Organizations: string (nullable = true)
 |-- Men's Athletics: string (nullable = true)
 |-- Scholarship Recipient: string (nullable = true)
 |-- Women's Athletics: string (nullable = true)

In [8]:
#Change amounts coulumns to decimals 
constituents_df = constituents_df.withColumn("Lifetime giving", col("Lifetime giving").cast("decimal"))
constituents_df = constituents_df.withColumn("First gift amount", col("First gift amount").cast("decimal"))
constituents_df = constituents_df.withColumn("Latest gift amount", col("Latest gift amount").cast("decimal"))
constituents_df = constituents_df.withColumn("Greatest gift amount", col("Greatest gift amount").cast("decimal"))

In [13]:
# Change to date format
constituents_df = constituents_df.withColumn("First gift date", to_date(col("First gift date"), "MM/dd/yyyy"))
#constituents_df = constituents_df.withColumn("Birthdate", to_date(col("Birthdate"), "MM-dd-yyyy"))
#constituents_df = constituents_df.withColumn("Latest gift date", to_date(col("Latest gift date"), "MM-dd-yyyy"))
#constituents_df = constituents_df.withColumn("Greatest gift date", to_date(col("Greatest gift date"), "MM-dd-yyyy"))

In [17]:
#Add new column for repeated 
constituents_df = constituents_df.withColumn('repeatedConstituents', when(col('Lifetime giving') > col('First gift amount'), 'Yes').otherwise('No'))

In [18]:
#Create a temporary view of the DataFrame.
constituents_df.createOrReplaceTempView('constituents')

In [19]:
# Check the view data
spark.sql("""SELECT 
            `ConstituentID`,`Lifetime giving`,
             `First gift amount`,`First gift date`,
             `Latest gift amount`,`Latest gift date`,
             `Greatest gift amount`,`Greatest gift date`,
             repeatedConstituents
             
   FROM 
       constituents 
   WHERE 
   repeatedConstituents='Yes'
    
   """).show()

+-------------+---------------+-----------------+---------------+------------------+----------------+--------------------+------------------+--------------------+
|ConstituentID|Lifetime giving|First gift amount|First gift date|Latest gift amount|Latest gift date|Greatest gift amount|Greatest gift date|repeatedConstituents|
+-------------+---------------+-----------------+---------------+------------------+----------------+--------------------+------------------+--------------------+
|        36583|            450|               50|           NULL|               200|      12/29/2023|                 200|        12/29/2023|                 Yes|
|        21368|            600|              100|           NULL|               500|      12/19/1985|                 500|        12/19/1985|                 Yes|
|        44089|            350|              300|           NULL|               250|       4/10/2024|                 300|        10/25/2022|                 Yes|
|        39798|            240|              100|           NULL|                40|      12/11/2013|                 100|         12/3/2008|                 Yes|
|         8185|            280|               25|           NULL|                25|      12/28/2015|                  40|          4/5/2005|                 Yes|
|         2384|             50|               35|           NULL|                 5|       7/29/1986|                  35|          1/1/1970|                 Yes|
|        27223|            100|               50|           NULL|                50|      12/19/2001|                  50|        11/15/2000|                 Yes|
|        20662|             35|               10|           NULL|                25|       8/16/2004|                  25|         8/16/2004|                 Yes|
|         9194|             75|               25|           NULL|                50|        3/9/2004|                  50|        10/30/2003|                 Yes|
|         3782|            395|               10|           NULL|               100|       3/14/2003|                 100|        10/14/1999|                 Yes|
|         3048|            500|              100|           NULL|                20|       1/15/1991|                 100|        10/13/1986|                 Yes|
|        37486|            400|               50|           NULL|                50|       4/26/2022|                 100|          4/8/2021|                 Yes|
|        29668|            175|               25|           NULL|               100|       9/14/1988|                 100|         9/14/1988|                 Yes|
|        68327|             35|               25|           NULL|                10|       1/17/2006|                  25|         6/25/2004|                 Yes|
|        14051|            400|               50|           NULL|               100|       3/11/2016|                 100|         7/25/2012|                 Yes|
|        36614|            160|               80|           NULL|                40|       4/22/2009|                  80|          5/3/2005|                 Yes|
|        42023|            150|               50|           NULL|                50|      11/18/2013|                  50|          8/9/2011|                 Yes|
|        42088|            265|              140|           NULL|                75|      10/18/2013|                 140|          9/7/2011|                 Yes|
|        47840|            400|              200|           NULL|               200|       9/23/2014|                 200|         10/8/2013|                 Yes|
|        20126|            550|              200|           NULL|               150|        1/8/1988|                 200|          1/1/1970|                 Yes|
+-------------+---------------+-----------------+---------------+------------------+----------------+--------------------+------------------+--------------------+
only showing top 20 rows

In [13]:
#Count distinct donors 
spark.sql("""SELECT 
            count(distinct(`ConstituentID`))
   FROM 
       constituents 
    
   """).show()

+-----------------------------+
|count(DISTINCT ConstituentID)|
+-----------------------------+
|                        50913|
+-----------------------------+

In [14]:
#count the number of donors whos has not contribute yet 
spark.sql("""SELECT 
            count(distinct(`ConstituentID`))
   FROM 
       constituents 
   WHERE 
    `First gift amount`=0
    
   """).show()

+-----------------------------+
|count(DISTINCT ConstituentID)|
+-----------------------------+
|                            0|
+-----------------------------+

In [15]:
#Repeated donors
spark.sql("""SELECT 
        count(*)
   FROM 
       constituents 
   WHERE 
   `repeatedConstituents`='Yes'
   """).show()

+--------+
|count(1)|
+--------+
|    4358|
+--------+

In [16]:
#Null information among the active donors
spark.sql("""
   SELECT 
      COUNT(`ConstituentID`)
   FROM 
       constituents 
   WHERE 
      `First gift amount` > 0 AND City IS NULL

""").show()

+--------------------+
|count(ConstituentID)|
+--------------------+
|                 150|
+--------------------+

In [17]:
#Group records as per the funds 
spark.sql("""
   SELECT 
      `First gift fund`,count(`ConstituentID`) as totConstituent
   FROM 
       constituents 
   WHERE 
      `First gift amount` > 0 
  GROUP BY  `First gift fund`

""").show()

+--------------------+--------------+
|     First gift fund|totConstituent|
+--------------------+--------------+
|Women's Basketbal...|           310|
|Business and Econ...|            33|
|Multicultural Cen...|            10|
|Mary Jo Gangnon M...|             9|
|General Charles C...|             8|
|0-Francis C DeVin...|             2|
|Davis, John Bloom...|            46|
|Robert Banks Memo...|            11|
|     Mock Trial Fund|            37|
|Superior Voices S...|             5|
| Women's Tennis Fund|            64|
|Everson, Dr. and ...|             6|
|Boswell, Melinda,...|             1|
|0-Center Court Cl...|            14|
|Distance Learning...|             9|
| Women's Hockey Fund|           144|
|Grad Psych Develo...|             1|
|SCCU Stadium Dan ...|            13|
|Brown, Maurice, S...|             4|
|Art Student Leagu...|             2|
+--------------------+--------------+
only showing top 20 rows

In [18]:
#Convert to Pandas dataframe
constituents_pd_df = constituents_df.toPandas()
constituents_pd_df.head()

,ConstituentID,City,State,Postcode,Country,Constituent type,Constituent codes,Lifetime giving,First gift amount,First gift type,...,Gender,Marital status,Solicit codes,Student Organizations,Arts,Fraternal Organizations,Men's Athletics,Scholarship Recipient,Women's Athletics,repeatedConstituents
0,60472,Superior,WI,54880-2556,United States,Organization,Business (No start date - No end date),0,None,None,...,None,None,None,None,None,None,None,None,None,No
1,43735,Hermantown,MN,55811-1755,United States,Organization,Other Organizations (8/29/2012 - No end date),50,50,One-time gift,...,None,None,None,None,None,None,None,None,None,No
2,60145,Esko,MN,55733-9645,United States,Organization,Other Organizations (No start date - No end date),50,50,One-time gift,...,None,None,None,None,None,None,None,None,None,No
3,21332,None,None,None,United States,Organization,Business (No start date - No end date),25,25,One-time gift,...,None,None,None,None,None,None,None,None,None,No
4,50410,Superior,WI,54880-1504,United States,Organization,Business (No start date - No end date),0,None,None,...,None,None,None,None,None,None,None,None,None,No

In [19]:
# Convert the age of donors & first donation date to date format
# Calculate the ages at time of first donation